doctype html
html

head
  meta(charset="utf-8")
  title Weather
  link(rel="stylesheet" href="owfont-master/css/owfont-regular.min.css")
  link(rel="stylesheet" href="style.min.css")

body
  div.container
    div.panel.cf
      input#city-name(type="text" placeholder="Type city name")
      div.temperature-units
        span.temp-symbol.active(data-unit="c") c
        span#separator &#124;
        span.temp-symbol(data-unit="f") f
    div.info.cf
      h1
      div#icon-container
        i#icon(src="")
      p#temp
      p#description
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js")
  script(src="script.js")